@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("coolicons.css");

@layer base {
    h1,
    h2,
    h3 {
        font-family: "Open Sans", sans-serif;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.linear-gradient {
    mask-image: linear-gradient(black 55%, transparent 100%);
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}
